.admin {
    height: 100vh;
    width: 100%;
    display: flex;
}

.left {
    background-image: url(../assets/all-images/slider-img/slider-2.jpg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100vh;
    flex: 1;
}

.right {
    width: 40%;
    height: 70vh;
    line-height: 2;
    margin-left: 10px;
}

.right h2 {
    text-align: center;
    color: cadetblue;
    text-decoration: underline;
    padding: 10px;
}

input {
    border: 3px solid rgb(200, 230, 122);
    border-radius: 10px;
    padding: 5px;
}

input:hover {
    border-color: black;
}

.right button {
    width: fit-content;
    border: 2px solid rgb(146, 136, 155);
    border-radius: 10px;
    padding: 5px;
}

.right button:hover {
    background: rgb(80, 73, 73);
    border-color: black;
    color: white;
}