.login-page {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.leftcontainer {
    width: 55%;
    background-image: url('../assets/all-images/blog-img/blog-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    color: white;
}

.rightcontainer {
    width: 45%;
    margin-left: 10px;
}

.rightcontainer h2 {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

.signin form {
    display: grid;
    gap: 10px;
}

.signin form input {
    border: 3px solid rgb(73, 197, 190);
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    width: 60%;
}

.signin form button {
    margin-top: 15px;
    margin-left: 37%;
    width: 30%;
}

.forgotpassword {
    margin-top: 15px;
}

.forgotpassword button {
    margin-left: 32%;
    width: 40%;
}

.forgotpassword span {
    font-size: 14px;
    margin-left: 30%;
}

.forgotpassword form {
    display: grid;
    gap: 15px;
    margin-top: 10px;
}

.forgotpassword form input {
    border: 3px solid rgb(73, 197, 190);
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    width: 60%;
}