.register-page {
    height: 530px;
    width: 100%;
    display: flex;
}

.left-container {
    background-image: url(../assets/all-images/slider-img/slider-2.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    flex: 1;
}

.right-container {
    width: 50%;
    line-height: 2;
    flex: 1;

}

.right-container h2 {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    height: 60px;
    width: 100%;
}

.right-container input {
    display: grid;
    text-align: center;
    border: 3px solid rgb(98, 98, 111);
    border-radius: 10px;
    padding: 5px;
}

.right-container form {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 10px;
}

.right-container button {
    margin-top: 10px;
    background: rgb(196, 219, 212);
    color: black;
    width: 100px;
    border: 2px solid black;
}

.right-container p {
    text-align: center;
}